@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Portal</h1>
    <p>The best employee portal in the whole universe.</p>
    <div class="mt-4">
        <div class="button-container">
            <a class="btn btn-primary" asp-controller="Employees" asp-action="Add">Click here to add a new employee!</a>
            <a class="btn btn-secondary" asp-controller="Employees" asp-action="List">Or here here to view all the employees!</a>
        </div>
        <img class="portal-image" src="css/Pictures/happy-employees.png" />
    </div>
</div>



